{% extends 'base.html.twig' %}

{% block title %}Elasticsearch info
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>{{ personnalite['nom']|upper }}
			{{ personnalite['prenom']|capitalize }}</h1>

		<ul>
			{% for categorie in personnalite['categorie']|split(',') %}
				<li>{{ categorie }}</li>
			{% endfor %}
		</ul>

		<p>{{ personnalite['presentation'] }}</p>
	</div>
{% endblock %}
